<div class="main-container">
  <app-back-round-button></app-back-round-button>
  <h1 class="main-container__header">Create Transaction</h1>
  <button
    class="main-container__button"
    mat-raised-button
    color="primary"
    (click)="handleNavigateCreateIncome()"
  >
    Income transaction
  </button>
  <button
    class="main-container__button"
    mat-raised-button
    color="primary"
    (click)="handleNavigateCreateExpense()"
  >
    Expense transaction
  </button>
  <button
    class="main-container__button"
    mat-raised-button
    color="primary"
    (click)="handleNavigateWalletTransfer()"
  >
    Wallet transfer
  </button>
</div>
