<form
  class="wallet-form"
  [formGroup]="walletForm"
  (submit)="handleCreateWallet()"
>
  <h1 class="wallet-form__heading">Create Wallet</h1>
  <mat-form-field appearance="outline">
    <mat-label>Wallet name</mat-label>
    <input matInput formControlName="name" type="text" />
    <mat-error *ngIf="name?.hasError('required')"
      >This field is <strong>required</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wallet balance</mat-label>
    <input matInput formControlName="balance" type="number" step="0.01" />
    <mat-icon class="wallet-form__icon" matSuffix>euro</mat-icon>
    <mat-error *ngIf="balance?.hasError('required')"
      >This field is <strong>required</strong></mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Wallet Type</mat-label>
    <mat-select formControlName="walletType">
      <mat-option *ngFor="let walletType of walletTypes" [value]="walletType">
        {{ walletType | titlecase }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="walletType?.hasError('required')"
      >This field is <strong>required</strong></mat-error
    >
  </mat-form-field>
  <button
    class="wallet-form__button"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!walletForm.valid || isWalletLoading"
  >
    <mat-icon *ngIf="isWalletLoading"
      ><mat-spinner color="accent" diameter="20"> </mat-spinner
    ></mat-icon>
    <span *ngIf="!isWalletLoading">Confirm</span>
  </button>
</form>
