.wallet-form {
  display: grid;
  row-gap: 10px;

  &__heading {
    margin-bottom: 20px;
  }

  &__button {
    height: 50px;
    font-size: large;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }

  &__icon {
    font-size: 20px;
    font-weight: 100;
    color: grey;
  }
}
