<ng-container *ngIf="isLoadingWallets$ | async; else loadingContainer">
  <div class="loading-container">
    <mat-icon
      ><mat-spinner color="accent" diameter="30"> </mat-spinner
    ></mat-icon>
    <p>Loading your wallets, please wait...</p>
  </div>
</ng-container>
<ng-template #loadingContainer>
  <div class="main-container">
    <ng-container *ngIf="(wallets$ | async)?.length; else createWallet">
      <app-back-round-button></app-back-round-button>
      <div class="main-container__header">
        <h1>Wallets</h1>
        <button mat-mini-fab color="accent" (click)="navigateCreateWallet()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <app-wallet-card
        *ngFor="let wallet of wallets$ | async"
        [wallet]="wallet"
        (walletDelete)="handleWalletDelete($event)"
      ></app-wallet-card>
    </ng-container>
    <ng-template #createWallet>
      <div class="create-wallet-container">
        <app-wallet-create [shouldNavigateBack]="false"></app-wallet-create>
      </div>
    </ng-template>
  </div>
</ng-template>
