<div class="form-container">
  <ng-container
    *ngIf="!(isUserProfilSetupLoading$ | async); else loadingContainer"
  >
    <app-sign-up-form
      [isSignUpLoading]="(isSignUpLoading$ | async)!"
      [isGoogleAuthenticationLoading]="
        (isGoogleAuthenticationLoading$ | async)!
      "
      (formSubmited)="onSignUpFormSubmit($event)"
      (googleAuthentication)="onGoogleAuthentication()"
    ></app-sign-up-form>
  </ng-container>
  <ng-template #loadingContainer>
    <div class="loading-container">
      <mat-icon
        ><mat-spinner color="accent" diameter="50"> </mat-spinner
      ></mat-icon>
    </div>
  </ng-template>
</div>
