<form class="form" [formGroup]="signUpForm" (submit)="handleFormSubmited()">
  <h1 class="form__heading">SIGN UP</h1>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="example@gmail.com"
      formControlName="email"
      [disabledControl]="isGoogleAuthenticationLoading || isSignUpLoading"
    />
    <mat-error *ngIf="email?.hasError('required')"
      >This field is <strong>required</strong></mat-error
    >
    <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')"
      >Please enter a valid email address</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [disabledControl]="isGoogleAuthenticationLoading || isSignUpLoading"
      type="{{ passwordShown ? 'text' : 'password' }}"
    />
    <mat-icon matSuffix (click)="passwordShown = !passwordShown">{{
      passwordShown ? 'visibility' : 'visibility_off'
    }}</mat-icon>
    <mat-error *ngIf="password?.hasError('required')"
      >This field is <strong>required</strong></mat-error
    >
    <mat-error
      *ngIf="
        password?.hasError('passwordError') && !password?.hasError('required')
      "
    >
      {{ password?.getError('passwordError') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password Confirm</mat-label>
    <input
      matInput
      formControlName="passwordConfirm"
      [disabledControl]="isGoogleAuthenticationLoading || isSignUpLoading"
      type="{{ passwordShown ? 'text' : 'password' }}"
    />
    <mat-icon matSuffix (click)="passwordShown = !passwordShown">{{
      passwordShown ? 'visibility' : 'visibility_off'
    }}</mat-icon>
    <mat-error *ngIf="passwordConfirm?.hasError('required')"
      >This field is <strong>required</strong></mat-error
    >
    <mat-error
      *ngIf="
        passwordConfirm?.hasError('passwordConfirmError') &&
        !passwordConfirm?.hasError('required')
      "
    >
      {{ passwordConfirm?.getError('passwordConfirmError') }}
    </mat-error>
  </mat-form-field>

  <button
    class="form__input"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="
      !signUpForm.valid || isGoogleAuthenticationLoading || isSignUpLoading
    "
  >
    <mat-icon *ngIf="isSignUpLoading"
      ><mat-spinner color="accent" diameter="20"> </mat-spinner
    ></mat-icon>
    <span *ngIf="!isSignUpLoading">SIGN UP</span>
  </button>
  <app-google-button
    label="Sign up with Google"
    [isGoogleAuthenticationLoading]="isGoogleAuthenticationLoading"
    [isDisabled]="isGoogleAuthenticationLoading || isSignUpLoading"
    (click)="handleGoogleAuthentication()"
  ></app-google-button>
  <hr />
  <div class="form__link-container">
    <p>Already have an account?</p>
    <a routerLink="/sign-in">Sign in</a>
  </div>
</form>
